{% extends "room/base.html" %}
{% load crispy_forms_tags %}
{% block content %}    
<article class="media content-section box-shadow col-md-6" style="border-radius: 15px; margin: auto;">
    <div class="media-body">
            <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend style="border-bottom: 1px solid rgba(0, 0, 0, 0.20);">
                    RESET PASSWORD
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" style="border-width: 2px; font-weight: bold;" type="submit">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</article>
{% endblock content %}    