{% extends "room/base.html" %}
{% block content %}    
    <div class="col-md-12">
        <h1>ABOUT RACE FOR SPACE</h1>
    </div>
    <div class="col-md-9" style="float: left;">
        <article class="media content-section box-shadow" style="border-radius: 15px;">
            <div class="media-body">
                <div class="article-metadata">
                    <h2 class="article-title font-weight-light">
                        Hey Folks! Welcome to Race For Space, your ultimate room slot booking system on the go! Enjoy booking rooms with us!<br><br>
                    </h2>
                    <h3 class="article-title font-weight-light">
                        Thank You!
                    </h3>
                </div>
            </div>
        </article>
    </div>
    <div class="col-md-3 alert alert-success" style="float: right; border-radius: 15px;">
        <p><b>Note : </b>You need to log in/sign up to start booking rooms</p>
        <p>Thank You!</p>
    </div>
{% endblock content %}    