{% extends "room/base.html" %}
{% block content %}  
    <article class="media content-section box-shadow" style="border-radius: 15px;">
        
        <div class="media-body">
          <div class="article-metadata">
            
            <small class="text-muted">{{ object.date }}</small>
            {% if object.customer == user %}
              <div>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'booking-delete' object.id%}">Delete</a>
              </div>
            {% endif %}
          </div>
          <h2 class="article-title font-weight-light" data-toggle="tooltip" data-placement="bottom">{{ object.room_number }}</h2>
          <p class="article-content">{{ object.time_start }} to {{ object.time_end }}</p>
          
        </div>
    </article>
    
{% endblock content %}    